/* Container holding the image and the text */
.container {
  text-align: center;
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.container1 {
  position: absolute;
  top: 820px;
  width: 100%;
}

.container2 {
  position: absolute;
  top: 1255px;
}

.contact {
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  font-size: 35px;
  font-family: 'Open Sans Light', sans-serif;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;

    font-family: 'Libre Franklin', sans-serif;
  }

.topnav {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: absolute;
    top: 0px;
  }

.profile-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 50%;
  height: auto;
  display: flex;
}


.hey {
    position: absolute;
    top: 140px;
    left: 190px;
    line-height: 1.2em;
    font-size: 4em;
    color: white;

    font-family: 'Shadows Into Light', sans-serif;
  }

.name {
    position: absolute;
    top: 210px;
    left: 100px;
    line-height: 1.2em;
    font-size: 4em;
    color: white;

    font-family: 'Open Sans', sans-serif;
  }

.description {
  position: absolute;
  top: 280px;
  left: 375px;
  line-height: 1.2em;
  font-size: 4em;
  color: white;

  font-family: 'Shadows Into Light', sans-serif;
}

.topnav a {
  background-color: transparent;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 13px; 
  text-decoration: none;
  font-size: 35px;

  font-family: 'Open Sans Light', sans-serif;
}

.topnav a:hover {
  font-family: 'Open Sans Light', sans-serif;
  color: black;
  background-color: white;
}

.topnav a.active {
  font-family: 'Open Sans Light', sans-serif;
}

.left-right-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.left-right-wrapper h3 {
  font-size: 35px;
  font-family: 'Open Sans Light', sans-serif;
  color: black;
}

.left-right-wrapper p {
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #4B4B4B;
}

.left {
  display: table-cell;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  padding: 3%;
  text-align: left;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.right {
  display: table-cell;
  align-items: center;
  justify-content: center;
  width: 25%;
  text-align: center;
  padding: 3%;
  text-align: left;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

/* LinkedIn */

.LI-profile-badge {
  position: absolute;
  top: 150px;
  left: 100px;
  background-color: white;
}

.github-badge {
  position: absolute;
  top: 425px;
  left: 100px;
  width: 200px;
  height: auto;
}

.contactme {
  position: absolute;
  top: 450px;
  left: 100px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  color: white;
}

.gphotos-badge {
  position: absolute;
  top: 530px;
  left: 100px;
  width: 400px;
  height: auto;
}

.gphotos-button {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

.nytmaker {
  position: absolute;
  top: 150px;
  left: 500px;
}
