/* ABOUT ME PAGE */

.top-container {
  text-align: center;
  justify-content: center;
  display: flex;
  color: black;
  position: relative;
  background-color: black;
}

.container2 {
  position: absolute;
  width: 100%;
  top: 1200px;
  left: 0px;
  align-items: center;
  justify-content: center;
}

html, body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
  }

/* TOP NAV BAR */

.topnav {
    background-color:rgba(192, 163, 254, 1.0);
    overflow: hidden;
    position: absolute;
    top: 0px;
    align-items: center;
    justify-content: center;
  }

  .topnav a {
    background-color: transparent;
    float: left;
    color: black;
    text-align: center;
    padding: 20px 70px; 
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
  
    font-family: 'Open Sans', sans-serif;
  }
  
  .topnav a:hover {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: white;
  }
  
  .topnav a.active {
    font-family: 'Open Sans', sans-serif;
  }

/* PROFILE SECTION */

.header {
  position: absolute;
  top: 60px;
  left: 29%;
  width: 100%;
  height: 50%;
}

.hey {
    position: absolute;
    top: 0px;
    left: 80px;
    line-height: 1.2em;
    font-size: 4em;
    color: white;

    font-family: 'Shadows Into Light', sans-serif;
  }

.title {
    position: absolute;
    top: 70px;
    left: 0px;
    line-height: 1.2em;
    font-size: 4em;
    color: #C0A3FE;
    font-weight: 800;

    font-family: 'Open Sans', sans-serif;
  }

.description {
  position: absolute;
  top: 140px;
  left: 330px;
  line-height: 1.2em;
  font-size: 4em;
  color: white;

  font-family: 'Shadows Into Light', sans-serif;
}

.background-img {
  position: absolute;
  top: 350px;
  width: 100%;
  left: 0px;
}

.meetu-div {
  position: absolute;
  top: 900px;
  left: 50px;
  width: 50%;
}

.meetu {
  position: absolute;
  top: 15px;
  left: 120px;
  color: white;
  font-weight: 800;
  font-size: 24;

  font-family: 'Open Sans', sans-serif;
}

.par-description {
  position: absolute;
  top: 100px;
  left: 15px;
  width: 650px;
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

.some-facts-div {
  position: absolute;
  top: 900px;
  right: 50px;
  width: 50%;
}

.facts {
  position: absolute;
  top: 15px;
  right: 150px;
  color: white;
  font-weight: 800;
  font-size: 24;

  font-family: 'Open Sans', sans-serif;
}

.fact-bullets1 {
  position: absolute;
  top: 75px;
  right: 230px;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

.fact-bullets2 {
  position: absolute;
  top: 125px;
  right: 222px;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

.fact-bullets3 {
  position: absolute;
  top: 175px;
  right: 255px;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

.fact-bullets4 {
  position: absolute;
  top: 225px;
  right: 105px;
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

/* LET'S CONNECT & ABOUT ME SECTIONS */

.container1 {
  position: absolute;
  top: 1250px;
  width: 100%;
  align-items: center;
  justify-content: center;
  left: 0px;
  border: 1px;
  border-color: white;
}

.profile {
  left: 15px;
}

.profile-image {
  position: absolute;
  width: 450px;
  left: 100px;
}

.connect {
  position: absolute;
  top: 0px;
  right: 270px;
  color: white;
  font-weight: 800;
  font-size: 24;

  font-family: 'Open Sans', sans-serif;
}

.LI-profile-badge {
  position: absolute;
  top: 100px;
  right: 26%;
  background-color: white;
}

.github-badge {
  position: absolute;
  top: 220px;
  right: 4%;
  width: 200px;
  height: auto;
  padding: 20px;
}

.how-to-contact {
  position: absolute;
  top: 100px;
  right: 5.5%;
  width: 200px;
  height: auto;
  padding: 20px;
}

.contact-header {
  text-align: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 30;

  font-family: 'Open Sans', sans-serif;
}

.nyt-maker {
  position: absolute;
  top: 350px;
  right: 19%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  width: 400px;
  padding: 20px;
  text-align: right;
  height: 200px;
}

.nyt-open {
  position: absolute;
  top: 417px;
  right: 8%;
}

/* PROJECT PAGE */

.proj-container {
  text-align: center;
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.projects-title {
    line-height: 1.2em;
    font-size: 25px;
    color: white;
    text-align: center;
    top: 100px;
    left: 542px;
    position: absolute;
    width: 375px;

    font-family: 'Open Sans', sans-serif;
}

/* EXPERIENCE PAGE */

.exp-container {
  text-align: center;
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.exp-title {
    line-height: 1.2em;
    font-size: 25px;
    color: white;
    text-align: center;
    top: 100px;
    left: 430px;
    position: absolute;
    width: 600px;

    font-family: 'Open Sans', sans-serif;
}

.data-project {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 250px;
}

/* CONTACT PAGE */

.contact-container {
  text-align: center;
  color: black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.contact-linkedin {
  position: relative;
}

.contact-title {
  line-height: 1.2em;
  font-size: 25px;
  color: white;
  text-align: center;
  top: 100px;
  left: 430px;
  position: absolute;
  width: 600px;

  font-family: 'Open Sans', sans-serif;
}

